In [1]:
import pandas as pd
import numpy as np

In [2]:
time = pd.read_csv('messages.csv')

In [3]:
time

                    date                                                msg
0    2013-12-15 00:50:00                           ищу на сегодня мужика 37
1    2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2    2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3    2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4    2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше
..                   ...                                                ...
995  2012-03-16 00:50:00     ПАРЕНЬ СДЕЛАЕТ  МАССАЖ ЖЕНЩИНАМ -066-877-32-44
996  2014-01-23 23:14:00            сельский п 23 ищу девушку для отношений
997  2012-10-15 23:37:00  Д+Д ДЛЯ серьезных отношений. Мой номер 093-156...
998  2012-06-21 23:34:00  7 ДНЕПР М.34 ПОЗ.С Д/Ж ДЛЯ ВСТРЕЧ.Т.098 809 15 14
999  2014-06-19 23:25:00          Парень поласкает девушке...  т.0662035584

[1000 rows x 2 columns]

In [6]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [8]:
time.date =  pd.to_datetime(time["date"])

In [9]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

# Extract hours , minute , second

In [12]:
time["hour"] = time.date.dt.hour
time["min"] = time.date.dt.minute
time["sec"] = time.date.dt.second

In [16]:
time.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

# Extract Time

In [17]:
time["time"] = time["date"].dt.time

In [18]:
time.head()

,date,msg,hour,min,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

# Time Differene

In [19]:
import datetime

today = datetime.datetime.now()
today

datetime.datetime(2022, 9, 23, 1, 0, 38, 178628)

In [20]:
today - time["date"]

0     3204 days 00:10:38.178628
1     3068 days 01:20:38.178628
2     3554 days 00:39:38.178628
3     2856 days 00:29:38.178628
4     3253 days 01:49:38.178628
                 ...
995   3843 days 00:10:38.178628
996   3164 days 01:46:38.178628
997   3629 days 01:23:38.178628
998   3745 days 01:26:38.178628
999   3017 days 01:35:38.178628
Name: date, Length: 1000, dtype: timedelta64[ns]

# Second Difference

In [21]:
(today - time["date"]) / np.timedelta64(1,"s")

0      2.768262e+08
1      2.650800e+08
2      3.070680e+08
3      2.467602e+08
4      2.810658e+08
           ...
995    3.320358e+08
996    2.733760e+08
997    3.135506e+08
998    3.235732e+08
999    2.606745e+08
Name: date, Length: 1000, dtype: float64

# Minutes Difference

In [22]:
(today - time["date"]) / np.timedelta64(1,"m")

0      4.613771e+06
1      4.418001e+06
2      5.117800e+06
3      4.112670e+06
4      4.684430e+06
           ...
995    5.533931e+06
996    4.556267e+06
997    5.225844e+06
998    5.392887e+06
999    4.344576e+06
Name: date, Length: 1000, dtype: float64

# Hours Difference

In [23]:
(today - time["date"]) / np.timedelta64(1,"h")

0      76896.177272
1      73633.343939
2      85296.660605
3      68544.493939
4      78073.827272
           ...
995    92232.177272
996    75937.777272
997    87097.393939
998    89881.443939
999    72409.593939
Name: date, Length: 1000, dtype: float64