In [2]:
import pandas as pd
df = pd.read_csv("dirtydata.csv")

# pd.to_datetime()

In [3]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# to_datetime

In [4]:
new = pd.to_datetime(df['Date'])
new

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22          NaT
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

# to_numeric()

In [5]:
pd.to_numeric(new)

0     1606780800000000000
1     1606867200000000000
2     1606953600000000000
3     1607040000000000000
4     1607126400000000000
5     1607212800000000000
6     1607299200000000000
7     1607385600000000000
8     1607472000000000000
9     1607558400000000000
10    1607644800000000000
11    1607731200000000000
12    1607731200000000000
13    1607817600000000000
14    1607904000000000000
15    1607990400000000000
16    1608076800000000000
17    1608163200000000000
18    1608249600000000000
19    1608336000000000000
20    1608422400000000000
21    1608508800000000000
22   -9223372036854775808
23    1608681600000000000
24    1608768000000000000
25    1608854400000000000
26    1608940800000000000
27    1609027200000000000
28    1609113600000000000
29    1609200000000000000
30    1609286400000000000
31    1609372800000000000
Name: Date, dtype: int64

# df.to_string()

In [6]:
new.to_string()

'0    2020-12-01\n1    2020-12-02\n2    2020-12-03\n3    2020-12-04\n4    2020-12-05\n5    2020-12-06\n6    2020-12-07\n7    2020-12-08\n8    2020-12-09\n9    2020-12-10\n10   2020-12-11\n11   2020-12-12\n12   2020-12-12\n13   2020-12-13\n14   2020-12-14\n15   2020-12-15\n16   2020-12-16\n17   2020-12-17\n18   2020-12-18\n19   2020-12-19\n20   2020-12-20\n21   2020-12-21\n22          NaT\n23   2020-12-23\n24   2020-12-24\n25   2020-12-25\n26   2020-12-26\n27   2020-12-27\n28   2020-12-28\n29   2020-12-29\n30   2020-12-30\n31   2020-12-31'

In [8]:
# rep = df["Duration"].mode()[0]
# for i in df.index:
#     if df.loc[i,"Duration"] > rep:
#         print(df.loc[i,""])
# df