In [1]:
import pandas as pd

data = pd.read_csv("./covid_toy.csv")
data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [2]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]


from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

## Missing values

In [3]:
data.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

## Fill missing value with Simple Imputer

In [4]:
from sklearn.impute import SimpleImputer
sm = SimpleImputer()
sm.fit(xtrain[["fever"]])

xtrain_fever = sm.transform(xtrain[["fever"]])
xtest_fever = sm.transform(xtest[["fever"]])

## Appling Ordinal Encoding on cough

In [5]:
from sklearn.preprocessing import OrdinalEncoder
od = OrdinalEncoder(categories=[["Mild","Strong"]])

od.fit(xtrain[["cough"]])

xtrain_cough = od.transform(xtrain[["cough"]])
xtest_cough = od.transform(xtest[["cough"]])

## Appling One got Encoding on gender and city

In [6]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop="first",sparse=False)

xtrain_gender_city = ohe.fit_transform(xtrain[["gender","city"]])
xtest_gender_city = ohe.fit_transform(xtest[["gender","city"]])
xtrain_gender_city.shape

(80, 4)

## Extract age

In [7]:
xtrain_age = xtrain.drop(columns=["gender","fever","cough","city"]).values
xtest_age = xtest.drop(columns=["gender","fever","cough","city"]).values

## concatenation all column

In [10]:
import numpy as np

xtrain = np.concatenate((xtrain_age,xtrain_gender_city,xtrain_fever,xtrain_cough),axis=1)
xtest = np.concatenate((xtest_age,xtest_gender_city,xtest_fever,xtest_cough),axis=1)

In [27]:
pd.DataFrame(xtrain)

       0    1    2    3    4           5    6
0   23.0  1.0  0.0  0.0  1.0  100.597222  0.0
1   24.0  1.0  0.0  1.0  0.0   98.000000  0.0
2   19.0  0.0  0.0  0.0  0.0  100.000000  1.0
3   47.0  1.0  0.0  0.0  0.0  101.000000  1.0
4   69.0  0.0  0.0  0.0  1.0   98.000000  1.0
..   ...  ...  ...  ...  ...         ...  ...
75  82.0  1.0  0.0  1.0  0.0  100.597222  0.0
76  47.0  0.0  0.0  0.0  0.0  100.000000  1.0
77  34.0  0.0  1.0  0.0  0.0  104.000000  1.0
78  55.0  1.0  0.0  1.0  0.0  100.000000  0.0
79  73.0  0.0  1.0  0.0  0.0  103.000000  0.0

[80 rows x 7 columns]

## Easy way with colum transformer

* ### transformer = columns
* ### transformer are pass in tuple
* ### remainder = drop , passthrough

### example

### transformer = ColumnTransformer(

### transformers=[

### (" transformer name ",
### Encoder function etc,
### [ colums ] )

### ]

### ,remainder="passthrough")

In [ ]:
from sklearn.compose import ColumnTransformer



transformer = ColumnTransformer(transformers=[
    
    ("t1",SimpleImputer(),["fever"]),
    ("t2",OrdinalEncoder(categories=["Mild","Strong"]),[""])
    
],remainder="passthrough")