# Two Types of Duplicate Features in Machine Learning

## 1. Duplicate Values (Same value for each record)
<img src="t1.png">

In [1]:
import pandas as pd

In [64]:
fea = {
    "Car_Year":[2018,2019,2018,2019,2018,2018,2015,2014,2013],
    "Sell_Year":[2018,2019,2018,2019,2018,2018,2015,2014,2013],

}

data = pd.read_csv("../11_Outliers/ds2.csv")
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# install fast_ml lib
## pip install fast_ml

In [65]:
# from fast_ml.utilities import display_all

from fast_ml.feature_selection import get_duplicate_features

## checl duplicate column

In [66]:
dub_data = get_duplicate_features(data)
dub_data.head(10)

              Desc feature1 feature2
0  Duplicate Index   Height   Weight

In [71]:
duplicate_index_features_list = dub_data.query("Desc=='Duplicate Index'")['feature2'].to_list()
print(duplicate_index_features_list)

['Weight']