# duplicated()

print duplicate values

In [2]:
import pandas as pd
df = pd.read_csv("dirtydata.csv")

In [27]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

# df.drop_duplicates()

remove duplicates values

In [39]:
df.iloc[11:13]

    Duration          Date  Pulse  Maxpulse  Calories
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7

In [46]:
df.drop_duplicates(inplace=True)
# remove 12 col

In [45]:
df.iloc[11:13]

    Duration          Date  Pulse  Maxpulse  Calories
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3