# Normalization

### Normalization is a scaling Technique in which the values are rescaled between  the range ( 0 to 1 )

# Most Common Types of Normalization
* ##  Min Max 
* ##  Mean
* ##  Max Absolute
* ##  Robust

In [1]:
import pandas as pd
from sklearn.preprocessing import Normalizer, MinMaxScaler ,MaxAbsScaler ,RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_wine
import numpy as np

In [2]:
df = load_wine()
df = pd.DataFrame(df.data,columns=df.feature_names)
x = df.iloc[:,0:2]
y = df.iloc[:,-1]
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)
xtrain

     alcohol  malic_acid
1      13.20        1.78
160    12.36        3.83
47     13.90        1.68
49     13.94        1.73
67     12.37        1.17
..       ...         ...
113    11.41        0.74
64     12.17        1.45
15     13.63        1.81
125    12.07        2.16
9      13.86        1.35

[158 rows x 2 columns]

# MinMax

### Data are scaled in the range 0 to 1


## formulae 

* ## X = x(i) - x_min / x_max - x_min

In [4]:
Mimx = MinMaxScaler()
Mimx.fit(xtrain)

Mimx_xtrain =  Mimx.transform(xtrain)
Mimx_xtest = Mimx.transform(xtest)

Mimx_xtrain = pd.DataFrame(Mimx_xtrain,columns=xtrain.columns)
Mimx_xtrain

      alcohol  malic_acid
0    0.571053    0.205534
1    0.350000    0.610672
2    0.755263    0.185771
3    0.765789    0.195652
4    0.352632    0.084980
..        ...         ...
153  0.100000    0.000000
154  0.300000    0.140316
155  0.684211    0.211462
156  0.273684    0.280632
157  0.744737    0.120553

[158 rows x 2 columns]

In [5]:
xtrain.describe()

          alcohol  malic_acid
count  158.000000  158.000000
mean    13.008418    2.366139
std      0.802923    1.129393
min     11.030000    0.740000
25%     12.370000    1.615000
50%     13.050000    1.875000
75%     13.677500    3.097500
max     14.830000    5.800000

In [6]:
Mimx_xtrain.describe()

          alcohol  malic_acid
count  158.000000  158.000000
mean     0.520636    0.321371
std      0.211295    0.223200
min      0.000000    0.000000
25%      0.352632    0.172925
50%      0.531579    0.224308
75%      0.696711    0.465909
max      1.000000    1.000000

# Means

### Data are scaled in the range -1 to 1
* ### but we are used Standarization instead of Means 

## formula
* ## X = x(i) -  xmean / xmax - xmin

### Note Sklearn don't have Means Function

In [23]:

col = xtrain.columns

m = dict()

for i in col:
    m.update({i:  {"mean":np.round(np.mean(xtrain[i]),2)}  })
    m[i].update({"max":max(xtrain[i])})
    m[i].update({"min":min(xtrain[i])})

print(m)

{'alcohol': {'mean': 13.01, 'max': 14.83, 'min': 11.03}, 'malic_acid': {'mean': 2.37, 'max': 5.8, 'min': 0.74}}

In [24]:
val = dict()
for i in col:
    val.update({i: {} })

print(val)

{'alcohol': {}, 'malic_acid': {}}

In [29]:
no = 0
for c in col:
    for i in xtrain[c]:
        val[c].update({no:(i-m.get(c).get("mean"))/(m.get(c).get("max")-m.get(c).get("min"))})
        no += 1
print(val)

{'alcohol': {0: 0.04999999999999986, 1: -0.17105263157894743, 2: 0.2342105263157896, 3: 0.24473684210526303, 4: -0.16842105263157905, 5: -0.1999999999999999, 6: 0.0868421052631579, 7: -0.08157894736842117, 8: -0.17894736842105252, 9: 0.005263157894736729, 10: -0.06315789473684215, 11: -0.21315789473684219, 12: -0.18947368421052646, 13: 0.15000000000000005, 14: -0.3000000000000001, 15: 0.10000000000000019, 16: -0.14210526315789448, 17: -0.2657894736842104, 18: 0.12894736842105267, 19: -0.368421052631579, 20: -0.3815789473684208, 21: -0.021052631578947382, 22: 0.042105263157894764, 23: -0.16842105263157905, 24: 0.1868421052631581, 25: -0.18947368421052646, 26: -0.1999999999999999, 27: -0.07631578947368398, 28: -0.35789473684210504, 29: 0.06052631578947378, 30: 0.12894736842105267, 31: -0.41052631578947374, 32: 0.1263157894736843, 33: 0.12368421052631594, 34: 0.10263157894736855, 35: -0.24473684210526303, 36: 0.039473684210526404, 37: -0.24473684210526303, 38: 0.05789473684210542, 39: 0.015789473684210655, 40: 0.21315789473684219, 41: 0.1342105263157894, 42: 0.29473684210526335, 43: 0.22894736842105284, 44: 0.08157894736842117, 45: -0.10789473684210528, 46: -0.2657894736842104, 47: 0.1263157894736843, 48: 0.039473684210526404, 49: -0.16842105263157905, 50: 0.10526315789473692, 51: 0.17631578947368415, 52: -0.15526315789473677, 53: 0.2868421052631578, 54: 0.010526315789473925, 55: 0.1999999999999999, 56: -0.24473684210526303, 57: 0.01842105263157902, 58: 0.21578947368421056, 59: 0.36052631578947386, 60: -0.042105263157894764, 61: 0.2657894736842104, 62: 0.35789473684210504, 63: -0.042105263157894764, 64: -0.034210526315789205, 65: 0.11578947368421037, 66: 0.010526315789473925, 67: -0.04999999999999986, 68: 0.18947368421052646, 69: 0.31578947368421073, 70: -0.12894736842105267, 71: -0.13157894736842102, 72: 0.22894736842105284, 73: -0.08157894736842117, 74: 0.16052631578947352, 75: 0.042105263157894764, 76: -0.2657894736842104, 77: -0.03684210526315804, 78: 0.19473684210526318, 79: -0.3210526315789475, 80: 0.1842105263157897, 81: -0.08947368421052626, 82: 0.36315789473684223, 83: -0.1999999999999999, 84: -0.32894736842105254, 85: -0.10789473684210528, 86: -0.052631578947368224, 87: -0.13157894736842102, 88: 0.13157894736842102, 89: 0.026315789473684112, 90: -0.207894736842105, 91: 0.010526315789473925, 92: 0.10263157894736855, 93: -0.039473684210526404, 94: -0.25526315789473697, 95: 0.06052631578947378, 96: 0.3131578947368419, 97: 0.010526315789473925, 98: -0.16842105263157905, 99: -0.3157894736842103, 100: -0.30789473684210517, 101: -0.11315789473684201, 102: 0.22631578947368403, 103: -0.35526315789473667, 104: 0.27631578947368435, 105: 0.36052631578947386, 106: 0.21578947368421056, 107: 0.29210526315789453, 108: 0.35, 109: 0.22368421052631565, 110: -0.06315789473684215, 111: -0.1263157894736843, 112: 0.06842105263157888, 113: -0.2763157894736839, 114: -0.3657894736842106, 115: -0.05789473684210542, 116: -0.18947368421052646, 117: 0.31052631578947354, 118: 0.07631578947368443, 119: 0.07105263157894724, 120: 0.0736842105263156, 121: 0.15000000000000005, 122: -0.16842105263157905, 123: -0.021052631578947382, 124: -0.24473684210526303, 125: 0.18947368421052646, 126: -0.22368421052631565, 127: -0.08421052631578953, 128: 0.09210526315789462, 129: -0.15263157894736842, 130: 0.45789473684210524, 131: -0.30789473684210517, 132: 0.12368421052631594, 133: 0.17894736842105252, 134: 0.19736842105263155, 135: 0.1736842105263158, 136: -0.15526315789473677, 137: -0.07631578947368398, 138: -0.3605263157894734, 139: 0.1921052631578948, 140: -0.04473684210526313, 141: -0.24473684210526303, 142: 0.3394736842105265, 143: -0.5210526315789474, 144: 0.20263157894736827, 145: 0.14473684210526333, 146: 0.3210526315789475, 147: -0.005263157894736729, 148: 0.4789473684210526, 149: 0.1842105263157897, 150: -0.14736842105263168, 151: 0.21842105263157893, 152: 0.010526315789473925, 153: -0.4210526315789472, 154: -0.22105263157894728, 155: 0.16315789473684233, 156: -0.2473684210526314, 157: 0.22368421052631565}, 'malic_acid': {158: -0.11660079051383401, 159: 0.2885375494071146, 160: -0.1363636363636364, 161: -0.12648221343873522, 162: -0.2371541501976285, 163: 0.4644268774703557, 164: -0.28260869565217395, 165: 0.23320158102766794, 166: -0.25098814229249017, 167: -0.2905138339920949, 168: 0.003952569169960478, 169: 0.1304347826086956, 170: -0.15019762845849804, 171: 0.04150197628458498, 172: 0.38339920948616596, 173: -0.11857707509881425, 174: -0.1679841897233202, 175: -0.16996047430830044, 176: -0.1106719367588933, 177: -0.20158102766798422, 178: -0.06324110671936765, 179: 0.2826086956521739, 180: 0.043478260869565175, 181: -0.24505928853754946, 182: -0.18577075098814233, 183: 0.15810276679841895, 184: 0.2984189723320158, 185: -0.1106719367588933, 186: -0.13833992094861663, 187: 0.3181818181818182, 188: 0.1482213438735178, 189: 0.005928853754940673, 190: 0.2411067193675889, 191: -0.1106719367588933, 192: 0.30434782608695654, 193: -0.24505928853754946, 194: -0.001976284584980283, 195: -0.1936758893280633, 196: 0.18379446640316202, 197: -0.17193675889328067, 198: -0.12252964426877473, 199: 0.15810276679841895, 200: 0.34189723320158094, 201: 0.5276679841897234, 202: 0.17193675889328067, 203: -0.20355731225296445, 204: -0.28656126482213445, 205: -0.1403162055335969, 206: 0.23715415019762842, 207: -0.25691699604743085, 208: 0.29051383399209485, 209: -0.10671936758893281, 210: 0.035573122529644216, 211: -0.06916996047430832, 212: -0.06324110671936765, 213: -0.09288537549407119, 214: -0.10671936758893281, 215: 0.30237154150197626, 216: -0.14229249011857711, 217: -0.09881422924901187, 218: 0.17786561264822134, 219: -0.1363636363636364, 220: -0.08300395256917, 221: -0.15217391304347827, 222: 0.12252964426877473, 223: 0.2628458498023716, 224: -0.14229249011857711, 225: 0.19762845849802374, 226: 0.39328063241106725, 227: 0.33003952569169964, 228: 0.011857707509881434, 229: -0.22332015810276684, 230: -0.09486166007905143, 231: 0.2964426877470356, 232: 0.5098814229249012, 233: 0.557312252964427, 234: 0.20948616600790518, 235: 0.4426877470355732, 236: -0.12648221343873522, 237: -0.04743083003952574, 238: -0.10079051383399211, 239: -0.274703557312253, 240: -0.09881422924901187, 241: -0.12648221343873522, 242: 0.061264822134387366, 243: 0.017786561264822108, 244: -0.011857707509881434, 245: -0.12648221343873522, 246: -0.11264822134387353, 247: -0.09288537549407119, 248: -0.21343873517786563, 249: -0.12648221343873522, 250: 0.44071146245059284, 251: -0.20158102766798422, 252: 0.38142292490118573, 253: 0.043478260869565175, 254: -0.12055335968379449, 255: -0.11857707509881425, 256: -0.1462450592885376, 257: -0.049407114624505935, 258: -0.29249011857707513, 259: -0.21343873517786563, 260: -0.09288537549407119, 261: -0.09683794466403167, 262: -0.04347826086956526, 263: 0.2411067193675889, 264: -0.158102766798419, 265: -0.17588932806324115, 266: -0.1363636363636364, 267: -0.16996047430830044, 268: 0.20948616600790518, 269: 0.6205533596837944, 270: 0.37747035573122534, 271: -0.2529644268774704, 272: -0.07509881422924904, 273: 0.059288537549407085, 274: 0.09090909090909091, 275: -0.15415019762845852, 276: -0.12845849802371545, 277: -0.14426877470355737, 278: -0.07905138339920952, 279: -0.1403162055335969, 280: -0.22924901185770755, 281: 0.08695652173913043, 282: -0.2055335968379447, 283: -0.17193675889328067, 284: -0.15019762845849804, 285: -0.16600790513833996, 286: 0.0375494071146245, 287: -0.16600790513833996, 288: -0.12648221343873522, 289: 0.10276679841897235, 290: -0.13833992094861663, 291: 0.17588932806324106, 292: -0.16600790513833996, 293: -0.2213438735177866, 294: 0.40711462450592883, 295: -0.12252964426877473, 296: -0.061264822134387366, 297: -0.13833992094861663, 298: 0.11660079051383397, 299: -0.05731225296442689, 300: -0.08893280632411071, 301: -0.16996047430830044, 302: 0.07707509881422919, 303: -0.1304347826086957, 304: -0.1304347826086957, 305: -0.13833992094861663, 306: -0.14426877470355737, 307: 0.6482213438735179, 308: 0.1304347826086956, 309: 0.3458498023715415, 310: 0.6778656126482213, 311: -0.3221343873517787, 312: -0.18181818181818185, 313: -0.1106719367588933, 314: -0.04150197628458498, 315: -0.20158102766798422}}

In [30]:
al = val.get(col[0])
ml = val.get(col[1])
new = pd.DataFrame(al.values(),columns=["alcohol"])
new["malic_acid"] = ml.values()
new

      alcohol  malic_acid
0    0.050000   -0.116601
1   -0.171053    0.288538
2    0.234211   -0.136364
3    0.244737   -0.126482
4   -0.168421   -0.237154
..        ...         ...
153 -0.421053   -0.322134
154 -0.221053   -0.181818
155  0.163158   -0.110672
156 -0.247368   -0.041502
157  0.223684   -0.201581

[158 rows x 2 columns]

In [31]:
np.round(new.describe(),1)

       alcohol  malic_acid
count    158.0       158.0
mean      -0.0        -0.0
std        0.2         0.2
min       -0.5        -0.3
25%       -0.2        -0.1
50%        0.0        -0.1
75%        0.2         0.1
max        0.5         0.7

# Max Absolute

### when maximum 0 in the data then we are used Max Absolute

## formulae

* ## X = x(i) / |x_max|

In [32]:
from sklearn.preprocessing import MaxAbsScaler
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

ma = MaxAbsScaler()
ma.fit(xtrain)

MaxAbsScaler()

In [33]:
ma_xtrain = ma.transform(xtrain)
ma.transform(xtest)

ma_xtrain= pd.DataFrame(ma_xtrain,columns= xtrain.columns)
ma_xtrain

      alcohol  malic_acid
0    0.890088    0.306897
1    0.833446    0.660345
2    0.937289    0.289655
3    0.939987    0.298276
4    0.834120    0.201724
..        ...         ...
153  0.769386    0.127586
154  0.820634    0.250000
155  0.919083    0.312069
156  0.813891    0.372414
157  0.934592    0.232759

[158 rows x 2 columns]

In [36]:
np.round(ma_xtrain.describe(),1)

       alcohol  malic_acid
count    158.0       158.0
mean       0.9         0.4
std        0.1         0.2
min        0.7         0.1
25%        0.8         0.3
50%        0.9         0.3
75%        0.9         0.5
max        1.0         1.0

# Robust

### Handling the outliers

## formulae

* ## X = x(i) - x_median / x75 percentile - x25 percentile

In [37]:
from sklearn.preprocessing import RobustScaler
xtrain,xtest,ytrain ,ytest = train_test_split(x,y,test_size=20,random_state=10)

rc = RobustScaler()
rc.fit(xtrain)

new = rc.transform(xtrain)
rc.transform(xtest)

new = pd.DataFrame(new)
new

            0         1
0    0.114723 -0.064081
1   -0.527725  1.318718
2    0.650096 -0.131535
3    0.680688 -0.097808
4   -0.520076 -0.475548
..        ...       ...
153 -1.254302 -0.765599
154 -0.673040 -0.286678
155  0.443595 -0.043845
156 -0.749522  0.192243
157  0.619503 -0.354132

[158 rows x 2 columns]

In [39]:
np.round(new.describe(),1)

           0      1
count  158.0  158.0
mean    -0.0    0.3
std      0.6    0.8
min     -1.5   -0.8
25%     -0.5   -0.2
50%      0.0    0.0
75%      0.5    0.8
max      1.4    2.6